<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Document</title>

    <style type="text/css">
    </style>
</head>
<body>
    <h4>Registration Mail</h4>
    <h1>Welcome to LMS</h1>
    <div class="">
        <p>Hello <%= user.name %></p>
        <p>Your activation code is <%= activationCode %></p>
    </div>
</body>
</html>